@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* headings and logo */

h1 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    color: #04c1f4;
}

h2 {
    font-family: Lato, sans-serif;
    letter-spacing: 2px;
    color: #04c1f4;
    line-height: 35px;
    text-transform: uppercase;
    font-size: 40px;
}

p {
    font-family: Lato, sans-serif;
    letter-spacing: 1px;
    color: #3a3a3a;
    line-height: 45px;
}

#menu {
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 110%;
    letter-spacing: 2px;
    color: #3a3a3a;
}

#menu a:link {
    text-decoration: none;
    color: #7a7a7a;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

#menu a:visited {
    text-decoration: none;
    color: #7a7a7a;
}

#menu a:active {
    color: #04c1f4;
}

#logo {
    float: left;
    margin-left: 30px;
    font-size: 280%;
}

#menu li {
    list-style-type: none;
    float: right;
    margin-right: 30px;
}

#menu, #logo {
    line-height: 75px;
}

/* Body */

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* 3D Book and Intro */

#image-intro {
    clear: both;
    float: none;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 90%;
    padding-top: 2px;
    height: 800px;
}

#book-cover {
    float: left;
    margin: 10px;
    width: 40%;
    height: 95%;
}

#book-cover img {
    max-height: 95%;
    padding-right: 100px;
}

#book-intro {
    float: right;
    text-align: left;
    max-width: 45%;
    height:fit-content;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-right: 140px;
    padding: 10px;
    font-size: 125%;
    font-family: Lato, sans-serif;
    line-height: 25px;
}

#book-intro h2 {
    font-family: Oswald, sans-serif;
    padding-bottom: 15px;
}

#book-intro p {
    margin: 5px 5px;
    line-height: 25px;
}

#book-intro-bullets {
    height:fit-content;
    float: right;
    margin-right: 140px;
    width: 45%;
    padding: 10px;
    font-size: 125%;   
}

#book-intro-bullets p {
    margin: 5px 5px;
    line-height: 25px;
}

#book-intro-bullets li {
    margin-left: 45px;
    line-height: 45px;
    font-size: 85%;
    font-family: Lato, sans-serif;
    font-weight: 400;
    color: #4a4a4a;
}

/* Praise for Barefoot Business*/

#praise {
    clear: both;
    float: none;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 90%;
    background-color: #04c1f4;
    height: 300px;
}

#praise h2 {
    color: #fff;
    text-align: left;
    font-family: Oswald, sans-serif;
    padding-top: 15px;
    padding-left: 15px;
}

#praise-quotes div {
    width: 45%;
    height: 100%;
    float: left;
    text-align: justified;
    margin-top: 5px;
    margin-left: 5px;
    padding: 15px;
}

/* Quotes */

.quote-content {
    color: #fff;
    line-height: 25px;
    width: 75%;
    margin-left: 85px;
    font-weight: 400;
}

.quote-author {
    color: #fff;
    text-align: left;
    margin-left: 25px;
}

/* foreword */

#foreword-section {
    clear: both;
    float: none;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    max-width: 90%;
    height: fit-content;
}

#foreword-left, #foreword-right {
    width: 42%;
    height: 95%;
    margin-bottom: 3%;
}

#foreword-left {
    float: left;
    margin-left: 85px;
}

#foreword-right {
    float: right;
    margin-right: 85px;
}

#foreword-header h2 {
    text-align: right;
    font-family: Oswald, sans-serif;
    padding-bottom: 15px;
}

#foreword-left p {
    width: 95%;
    text-align: left;
    color: #3a3a3a;
    float: left;
    font-weight: 300;
    margin: 5px 5px;
    line-height: 25px;
}

#foreword-right p {
    width: 95%;
    text-align: left;
    color: #3a3a3a;
    float: right;
    font-weight: 300;
    margin: 5px 5px;
    line-height: 25px;
}

#foreword-author p {
    font-weight: 400;
}

/* Bio Section */

#bio-section {
    clear: both;
    float: none;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 90%;
    background-color: #04c1f4;
    height: 600px;
    padding: 15px;
}

#bio-left {
    float: left;
}

#bio-right {
    float: right;
}

#bio-section > div {
    height: 90%;
    width: 49%;
    margin: 5px;
}

#pieter-bio {
    float: left;
    width: 65%;
}

#pieter-bio h2 {
    color: #fff;
    text-align: left;
    font-family: Oswald, sans-serif;
    padding-bottom: 15px;
    padding-left: 15px;
}

#pieter-bio p {
    color: #fff;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 10px;
    margin-left: 45px;
    width: 85%;
}

#pieter-photo   {
    float: right;
    max-width: fit-content;
    margin-top: 30px;
    margin-right: 15px;
}

#bio-section img {
    max-width: 180px;
}

/* Contact Form */

#form-section div {
    float: left;
}

#form-header {
    float: left;
    margin-top: 30px;
    margin-left: 15px;
    padding-left: 15%;
    max-width: 350px;
}

#form-header p {
    color: white;
    text-align: center;
    font-family: Oswald, sans-serif;
    padding-bottom: 15px;
    padding-left: 15px;
    font-size: 125%;
    max-width: 350px;
}

#contact-form {
    text-align: left;
    border: 1px solid #04c1f4;
    background-color: #04c1f4;
    vertical-align: auto;
    max-width: 350px;
    height: 300px;
    padding-left: 15%;
    margin-top: 30px;
    margin-left: 15px;
}

#form-section label {
    color: white;
    font-weight: 400;
    line-height: 45px;
    margin: 15px;
}

#form-section input {
    border: 1px solid #04c1f4;
    height: 35px;
    width: 95%;
    margin-left: 2.5%;
}

.form-button {
    color: #04c1f4;
    background-color: white;
    margin-top: 15px;
}

.form-button:hover {
    background-color: #04c1f4;
    border: 3px solid white;
    color: white;
}

/* footer */

#footer {
    clear: both;
    float: none;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 90%;
    height: 50px;
}

#footer h3 {
    color: #04c1f4;
    text-align: center;
}

/* 3 Key Systems Page */

/* 3 Key Systems Article Section */

#tks-article {
    clear: both;
    float: none;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 90%;
    margin-bottom: 30px;
}

.article-title {
    margin-top: 35px;
    margin-bottom: 15px;
}

#tks-article h2 {
    font-weight: 300;
    text-align: center;
    font-family: Oswald, sans-serif;
    margin-bottom: 15px;
}

#tks-article h3 {
    font-weight: 400;
    text-align: left;
    font-family: Lato, sans-serif;
    color: #04c1f4;
    margin-left: 25px;
    margin-top: 35px;
}

#tks-article div {
    margin-left: 10%;
    margin-right: 10%;
}

#tks-article p {
    font-weight: 300;
    margin: 5px 5px;
    line-height: 25px;
    letter-spacing: 1px;
}

#tks-article li {
    margin-left: 50px;
    font-family: Lato, sans-serif;
    letter-spacing: 1px;
    list-style-type: circle;
    list-style-type: #04c1f4;
}

/* Get In Touch Page */

/* Get In Touch Form Section */

#get-in-touch {
    clear: both;
    float: none;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 90%;
    height: 1300px;
    padding: 10px;
    font-size: 125%;
    font-family: Lato, sans-serif;
    line-height: 25px;
}

#get-in-touch h2 {
    color: #04c1f4;
    text-align: right;
    font-family: Oswald, sans-serif;
    padding-bottom: 15px;
    padding-left: 15px;
}

#get-in-touch h3 {
    font-weight: 400;
    text-align: center;
    font-family: Lato, sans-serif;
    color: #04c1f4;
    margin-top: 35px;
}

#get-in-touch-cta {
    margin-bottom: 45px;
}

#get-in-touch p {
    line-height: 25px;
    margin-bottom: 10px;
    margin-left: 85px;
}

/* Podcast Covers */

#podcast-covers {
    margin: 9%;
}

#podcast-covers img {
    width: 250px;
    height: 250px;
}

#podcast-covers img:hover {
    width: 260px;
    height: 260px;
}

/* media queries*/

/* for larger to medium screen size from 1400px wide and down */
@media screen and (max-width: 1399.98px) {

    #book-cover {
        float: left;
        margin: 10px;
        width: 40%;
        height: 95%;
    }

    #book-cover img {
        max-width: 325px;
        margin-top: 50px;
    }

    #book-intro {
        max-width: 500px;
        height: 400px;
        margin-right: 80px;
        padding: 10px;
        margin-top: 10px;
    }

    #book-intro-bullets {
        float: right;
        max-width: 500px;
        margin-right: 80px;
        padding: 10px;  
    }
    
    #book-intro-bullets p {
        margin: 5px 5px;
        line-height: 25px;
    }
    
    #book-intro-bullets li {
        margin-left: 45px;
        line-height: 45px;
        font-size: 85%;
        font-family: Lato, sans-serif;
        font-weight: 400;
        color: #4a4a4a;
    }

    #praise-quotes div {
        width: 45%;
        height: 100%;
        margin-top: 5px;
        margin-left: 5px;
        padding: 15px;
    }

    #foreword-section {
        margin: 15px;
        height: 1100px;
    }
    
    #foreword-left, #foreword-right {
        width: 40%;
    }

    #bio-section {
        background-color: #04c1f4;
        height: 800px;
        padding: 15px;
    }

    #pieter-bio {
        float: left;
        width: 50%;
    }

    #pieter-bio h2 {
        width: 400px;
    }

    #pieter-bio p {
        margin-left: 25px;
        width: 85%;
    }

    #pieter-photo   {
        margin-top: 60px;
    }

    #form-header {
        margin-left: 15px;
    }

    #tks-article div {
        margin-left: 5%;
        margin-right: 5%;
    }

    #podcast-covers img {
        width: 200px;
        height: 200px;
    }
    
    #podcast-covers img:hover {
        width: 210px;
        height: 210px;
    }
}

/* for larger to medium screen size from 1200px wide and down */

@media screen and (max-width: 1199.98px) {
    #book-cover {
        float: left;
        margin: 10px;
        width: 40%;
        height: 75%;
    }

    #book-cover img {
        max-width: 340px;
        margin-top: 50px;
        padding-right: 0px;
    }

    #book-intro {
        max-width: 400px;
        height: 600px;
        margin-right: 40px;
        padding: 10px;
        margin-top: 10px;
    }

    #book-intro-bullets {
        float: left;
        max-width: 900px;
        width: 900px;
        padding: 10px;
        margin-left: 40px;  
        margin-bottom: 30px;
    }
    
    #book-intro-bullets p {
        margin: 5px 5px;
        line-height: 25px;
        width: 900px;
    }
    
    #book-intro-bullets li {
        margin-left: 45px;
        line-height: 45px;
        font-size: 85%;
        font-family: Lato, sans-serif;
        font-weight: 400;
        color: #4a4a4a;
    }

    #praise {
        height: 400px;
    }

    #praise-quotes div {
        width: 45%;
        height: 100%;
        margin-top: 5px;
        margin-left: 5px;
        padding: 15px;
    }

    #foreword-section {
        margin: 15px;
        height: 1350px;
    }
    
    #foreword-left, #foreword-right {
        width: 40%;
    }

    #bio-section {
        background-color: #04c1f4;
        height: 900px;
        padding: 15px;
    }

    #bio-section > div {
        width: 90%;
        margin: 5px auto;
    }

    #pieter-bio {
        float: left;
        width: 65%;
    }

    #pieter-bio h2 {
        width: 400px;
    }

    #pieter-bio p {
        margin-left: 25px;
        width: 95%;
    }

    #pieter-photo   {
        margin-top: 60px;
    }

    #bio-left {
        max-height: 350px;
        float: none;
        clear: both;
        width: 95%;
    }

    #bio-right {
        float: none;
        clear: both;
        width: 95%;
    }

    #form-section {
        width: 100%;
        height: 535px;
        float: none;
        clear: both;
        padding-left: 0px;
    }

    #form-section div, #contact-form {
        float: none;
        clear: both;
        padding-left: 0px;
        max-width: 100%;
    }

    #form-header {
        margin-left: auto;
    }

    #form-header p {
        padding: 0;
        max-width: 100%;
    }

    #contact-form {
        margin: 30px auto 0;
        padding: 0;
    }

    #tks-article div {
        margin-left: 5%;
        margin-right: 5%;
    }

    #get-in-touch {
        height: 1000px;
    }

    #podcast-covers img {
        width: 150px;
        height: 150px;
    }
    
    #podcast-covers img:hover {
        width: 140px;
        height: 140px;
    }
}

/* for smaller screen size from 950px wide and down */
@media screen and (max-width: 949.98px) {
    header {
        float: none;
        clear: both;
    }

    #menu {
        float: left;
        clear: both;
        margin-left: 30px;
    }

    #book-cover img {
        max-width: 300px;
    }

    #book-intro {
        max-width: 300px;
        height: 700px;
    }

    #book-intro-bullets {
        max-width: 95%;
        margin-left: 10px;
    }
}