@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* headings and logo */

h1 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    color: #04c1f4;
}

h2 {
    font-family: Lato, sans-serif;
    letter-spacing: 2px;
    color: #04c1f4;
    line-height: 35px;
    text-transform: uppercase;
    font-size: 40px;
}

p {
    font-family: Lato, sans-serif;
    letter-spacing: 2px;
    color: #3a3a3a;
    line-height: 45px;
}

#menu {
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 110%;
    letter-spacing: 2px;
    color: #3a3a3a;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

#logo {
    float: left;
    margin-left: 30px;
    font-size: 280%;
}

#menu li {
    list-style-type: none;
    float: right;
    margin-right: 30px;
}

#menu, #logo {
    line-height: 75px;
}

/* Body */

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* 3D Book and Intro */

#image-intro {
    padding-top: 2px;
    clear: both;
    height: 800px;
}

#book-cover {
    background: url("../images/small-barefoot-business-3d-cover.jpg") no-repeat;
    background-size: contain;
    float: left;
    margin: 5px;
    width: 45%;
    height: 95%;
    background-position: right;
}

#book-intro {
    float: right;
    text-align: left;
    width: 45%;
    height: 600px;
    margin: 10px 10px;
    padding: 10px;
    font-size: 125%;
    font-family: Lato, sans-serif;
    line-height: 25px;
}

#book-intro h2 {
    font-family: Oswald, sans-serif;
    padding-bottom: 15px;
}

#book-intro li {
    margin-left: 45px;
    line-height: 45px;
    font-size: 85%;
    font-family: Lato, sans-serif;
    font-weight: 400;
}

/* Praise for Barefoot Business*/

#praise {
    clear: both;
    background-color: #04c1f4;
    height: 300px;
}

#praise h2 {
    color: #fff;
    text-align: left;
    font-family: Oswald, sans-serif;
    padding-top: 15px;
    padding-left: 15px;
}

#praise-quotes div {
    width: 48%;
    height: 100%;
    float: left;
    text-align: justified;
    margin-top: 5px;
    margin-left: 5px;
    padding: 15px;
}

/* Quotes */

.quote-content {
    color: #fff;
    line-height: 25px;
    width: 75%;
    margin-left: 25px;
    font-weight: 400;
}

.quote-author {
    color: #fff;
    text-align: left;
    margin-left: 25px;
}

/* foreword */

#foreword-section {
    margin: 15px;
    height: 850px;
}

#foreword-left, #foreword-right {
    width: 49%;
    height: 95%;
}

#foreword-left {
    float: left;
}

#foreword-right {
    float: right;
}

#foreword-header h2 {
    text-align: right;
    font-family: Oswald, sans-serif;
    padding-bottom: 15px;
}

#foreword-left p {
    width: 95%;
    text-align: left;
    color: #3a3a3a;
    float: left;
    font-weight: 300;
    line-height: 30px;
}

#foreword-right p {
    width: 95%;
    text-align: left;
    color: #3a3a3a;
    float: right;
    font-weight: 300;
    line-height: 30px;
}

.forward-author {
    font-weight: 300;
}

/* Bio Section */

#bio-section {
    background-color: #04c1f4;
    height: 300px;
    padding: 15px;
}

#bio-section div {
    height: 90%;
    width: 45%;
    margin: 5px;
}

#pieter-bio {
    float: left;
}

#pieter-bio h2 {
    color: #fff;
    text-align: left;
    font-family: Oswald, sans-serif;
    padding-bottom: 15px;
    padding-left: 15px;
}

#pieter-bio p {
    color: #fff;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 30px;
}

#pieter-photo   {
    float: right;
    background: url("../images/FullSizeRenderCropped.jpeg") no-repeat;
    background-size: contain;
    margin: 5px;
    width: 45%;
    height: 95%;
    background-position: left;
}

/* footer */

#footer {
    clear: both;
    margin: 15px;
}

#footer h2 {
    color: #04c1f4;
    text-align: right;
    font-family: Oswald, sans-serif;
    padding-bottom: 15px;
    padding-left: 15px;
}

#footer-form {
    height: 150px;
    text-align: center;
}