@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* headings and logo */

h1 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    color: #04c1f4;
}

h2 {
    font-family: Lato, sans-serif;
    letter-spacing: 2px;
    color: #04c1f4;
    line-height: 35px;
    text-transform: uppercase;
    font-size: 40px;
}

p {
    font-family: Lato, sans-serif;
    letter-spacing: 1px;
    color: #3a3a3a;
    line-height: 45px;
}

#menu {
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 110%;
    letter-spacing: 2px;
    color: #3a3a3a;
}

#menu a:link {
    text-decoration: none;
    color: #7a7a7a;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

#menu a:visited {
    text-decoration: none;
    color: #7a7a7a;
}

#menu a:active {
    color: #04c1f4;
}

#logo {
    float: left;
    margin-left: 30px;
    font-size: 280%;
}

#menu li {
    list-style-type: none;
    float: right;
    margin-right: 30px;
}

#menu, #logo {
    line-height: 75px;
}

/* Body */

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* 3D Book and Intro */

#image-intro {
    padding-top: 2px;
    clear: both;
    height: 800px;
}

#book-cover {
    float: left;
    margin: 10px;
    width: 45%;
    height: 95%;
}

#book-intro {
    float: right;
    text-align: left;
    width: 45%;
    height: 600px;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-right: 140px;
    padding: 10px;
    font-size: 125%;
    font-family: Lato, sans-serif;
    line-height: 25px;
}

#book-intro p {
    margin: 5px 5px;
    line-height: 25px;
}

#book-intro h2 {
    font-family: Oswald, sans-serif;
    padding-bottom: 15px;
}

#book-intro li {
    margin-left: 45px;
    line-height: 45px;
    font-size: 85%;
    font-family: Lato, sans-serif;
    font-weight: 400;
    color: #4a4a4a;
}

/* Praise for Barefoot Business*/

#praise {
    clear: both;
    background-color: #04c1f4;
    height: 300px;
}

#praise h2 {
    color: #fff;
    text-align: left;
    font-family: Oswald, sans-serif;
    padding-top: 15px;
    padding-left: 15px;
}

#praise-quotes div {
    width: 48%;
    height: 100%;
    float: left;
    text-align: justified;
    margin-top: 5px;
    margin-left: 5px;
    padding: 15px;
}

/* Quotes */

.quote-content {
    color: #fff;
    line-height: 25px;
    width: 75%;
    margin-left: 85px;
    font-weight: 400;
}

.quote-author {
    color: #fff;
    text-align: left;
    margin-left: 25px;
}

/* foreword */

#foreword-section {
    margin: 15px;
    height: 850px;
}

#foreword-left, #foreword-right {
    width: 45%;
    height: 95%;
}

#foreword-left {
    float: left;
    margin-left: 85px;
}

#foreword-right {
    float: right;
    margin-right: 85px;
}

#foreword-header h2 {
    text-align: right;
    font-family: Oswald, sans-serif;
    padding-bottom: 15px;
}

#foreword-left p {
    width: 95%;
    text-align: left;
    color: #3a3a3a;
    float: left;
    font-weight: 300;
    margin: 5px 5px;
    line-height: 25px;
}

#foreword-right p {
    width: 95%;
    text-align: left;
    color: #3a3a3a;
    float: right;
    font-weight: 300;
    margin: 5px 5px;
    line-height: 25px;
}

#foreword-author p {
    font-weight: 400;
}

/* Bio Section */

#bio-left {
    float: left;
}

#bio-right {
    float: right;
}

#bio-section {
    background-color: #04c1f4;
    height: 400px;
    padding: 15px;
}

#bio-section > div {
    height: 90%;
    width: 49%;
    margin: 5px;
}

#pieter-bio {
    float: left;
    width: 65%;
}

#pieter-bio h2 {
    color: #fff;
    text-align: left;
    font-family: Oswald, sans-serif;
    padding-bottom: 15px;
    padding-left: 15px;
}

#pieter-bio p {
    color: #fff;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 10px;
    margin-left: 85px;
    width: 85%;
}

#pieter-photo   {
    float: right;
    max-width: fit-content;
    margin-top: 30px;
    margin-right: 15px;
}

#bio-section img {
    height: 300px;
}

/* Contact Form */

#form-section div {
    float: left;
}

#form-header {
    float: left;
    margin-top: 30px;
    margin-left: 15px;
}

#form-header p {
    color: white;
    text-align: left;
    font-family: Oswald, sans-serif;
    padding-bottom: 15px;
    padding-left: 15px;
    font-size: 125%;
    max-width: 400px;
}

#contact-form {
    text-align: left;
    border: 1px solid #04c1f4;
    background-color: #04c1f4;
    vertical-align: auto;
    max-width: 400px;
    height: 300px;
    padding-left: 35px;
    margin-top: 30px;
}

#form-section label {
    color: white;
    font-weight: 400;
    line-height: 45px;
    margin: 15px;
}

#form-section input {
    border: 1px solid #04c1f4;
    height: 35px;
    width: 95%;
    margin-left: 2.5%;
}

.form-button {
    color: #04c1f4;
    background-color: white;
    margin-top: 15px;
}

.form-button:hover {
    background-color: #04c1f4;
    border: 3px solid white;
    color: white;
}

/* footer */

#footer {
    clear: both;
    height: 300px;
    margin: 15px;
}

#footer h3 {
    color: #04c1f4;
    text-align: center;
}

/* 3 Key Systems Page */

/* 3 Key Systems Article Section */

#tks-article {
    clear: both;
    margin-bottom: 30px;
}

.article-title {
    margin-top: 35px;
    margin-bottom: 15px;
}

#tks-article h2 {
    font-weight: 300;
    text-align: center;
    font-family: Oswald, sans-serif;
    margin-bottom: 15px;
}

#tks-article h3 {
    font-weight: 400;
    text-align: left;
    font-family: Lato, sans-serif;
    color: #04c1f4;
    margin-left: 25px;
    margin-top: 35px;
}

#tks-article div {
    margin-left: 20%;
    margin-right: 20%;
}

#tks-article p {
    font-weight: 300;
    margin: 5px 5px;
    line-height: 25px;
    letter-spacing: 1px;
}

#tks-article li {
    margin-left: 50px;
    font-family: Lato, sans-serif;
    letter-spacing: 1px;
    list-style-type: circle;
    list-style-type: #04c1f4;
}

/* Get In Touch Page */

/* Get In Touch Form Section */

#get-in-touch {
    clear: both;
    height: 1000px;
    margin: 10px 10px;
    padding: 10px;
    font-size: 125%;
    font-family: Lato, sans-serif;
    line-height: 25px;
}

#get-in-touch h2 {
    color: #04c1f4;
    text-align: right;
    font-family: Oswald, sans-serif;
    padding-bottom: 15px;
    padding-left: 15px;
}

#get-in-touch h3 {
    font-weight: 400;
    text-align: center;
    font-family: Lato, sans-serif;
    color: #04c1f4;
    margin-top: 35px;
}

#get-in-touch-cta {
    margin-bottom: 45px;
}

#get-in-touch p {
    line-height: 25px;
    margin-bottom: 10px;
    margin-left: 85px;
}

/* Podcast Covers */

#podcast-covers {
    margin: 9%;
}

#podcast-covers img {
    width: 250px;
    height: 250px;
}

#podcast-covers img:hover {
    width: 260px;
    height: 260px;
}